/* #region general */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

    font-weight: 400;
    line-height: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* variables for common colors */
    --accent: rgb(17, 199, 26);
    --main: #ff8000;
    --border: 2px solid green;
}

.main {
    flex-grow: 1;
}

.container {
    width: 1169px;
    max-width: 100%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
}

img {
    max-width: 100%;
}

.menu_burger,
.menu_burger-closes {
    width: 3rem;
    display: none;
}


/* #endregion: general */
/* #region header */
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 10rem;
}

header {

    background-color: #27374D;
}

.menu_main {
    display: flex;
    gap: 2rem;
}

.menu a {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-family: inherit;


}

.menu a:hover {
    color: #9DB2BF;
}

/* #endregion header */
/* #region about */
.about {
    padding: 2rem 0;
    background-color: #526D82;
}

.about_wrap {
    width: 53rem;
    color: white;
    margin-left: 2rem;

}

.about_wrap h2 {
    font-size: 38px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 500;
    font-family: inherit;
    margin-bottom: 2rem;
    font-style: normal;
}

.about_wrap p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: inherit;
    text-align: justify;
    font-style: normal;
    width: 1150px;
}

.items {
    padding: 3rem 0;
    color: var(--accent);
    background-color: #9DB2BF;

}

.items_wrap {
    display: flex;
    justify-content: space-between;
}

.items_right {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;


}

.item img {
    width: 4rem;
}

.item span {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: inherit;

}

.item p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
}

.about2 {
    padding: 3rem 0;
    margin: 0 auto;
    background-color: #c2d1dc;
}

.about2_wrap {
    margin-bottom: 2rem;
    color: white;
    display: flex;
    gap: 3rem;
}

.about2_wrap h2 {
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 84px;
    color: white;
    font-weight: 500;
    font-family: inherit;
    margin-top: 50px;

}

.about2 img {
    width: 400px;
    margin-left: 2rem;
    height: 400px;


}

.about2 p {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: inherit;
    font-style: normal;
    text-align: justify;
}

.about3 {
    padding: 2rem 0;
    background-color: #526D82;
}

.about_wrap3 {
    margin-bottom: 2rem;
    color: white;
}

.about_wrap3 h2 {
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 84px;
    color: white;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
}

table {
    border: 5px double #DDE6ED;
    border-collapse: collapse;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

tr td {
    border: 5px double #DDE6ED;
    border-collapse: collapse;
    text-align: center;
}

th {
    border-collapse: collapse;
    border: 5px double #DDE6ED;
}





/* #endregion about */
/* #region contact */
.contact {
    display: flex;
    gap: 100px;

}

.contact_section {
    background-color: #526D82;
}

.contact p {
    font-size: 18px;
    word-spacing: normal;
    line-height: 24px;
    color: white;
    font-weight: 400;
    font-family: inherit;

}

.contact_wrap {
    width: 350px;
    margin-top: 40px;

}

.contact_p1 {
    text-align: justify;
}

.contact_p2 {
    padding-top: 3rem;
    width: 240px;
}

.contact form {
    width: 800px;
    padding-top: 10px;
    word-spacing: 100px;
    padding-left: 40px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 4;
    color: #787878;
    font-weight: 400;
    font-family: inherit;
}

.input {
    padding: 1rem;

}

.input2 {
    display: block;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

/* #endregion contact */
/* #region footer */
.footer {
    background-color: #27374D;
    display: flex;

}

.footer_wrap {
    display: flex;
    gap: 15rem;
}

.footer_item {
    display: flex;
    flex-direction: column;
}

.footer_wrap h1 {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 72px;
    color: #777777;
    font-weight: 500;
    font-family: "Nunito Sans";


}

.footer_item p {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #777777;
    font-weight: 400;
    font-family: "Nunito Sans";
    width: 130px;

    margin-bottom: 0.5rem;
}


/* #endregion  footer */
/* #region home */
.home {
    padding: 2rem 0;
    background-color: #526D82;
}

.home_wrap {
    color: white;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;

}

.home_wrap h2 {
    font-size: 38px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    margin-bottom: 2rem;
    font-style: normal;
}

.home_wrap p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: inherit;
    font-style: normal;
    text-align: center;

}

.home_wrap img {

    margin-top: 4rem;

    max-width: 100%;
}

.home2 {
    padding: 2rem 0;
    background-color: #9DB2BF;

}

.home_wrap2 h2 {
    font-size: 38px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    margin-bottom: 2rem;
    font-style: normal;
}

.home_wrap2 p {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: inherit;
    margin: 0 auto;
    font-style: normal;
    width: 790px;
    text-align: justify;
}

.home3 {
    padding: 2rem 0;
    background-color: #c7d1d9;
    width: 100%;
}

.home3 video {
    max-width: 80%;
    justify-content: center;
    border: 2px solid #27374D;
    border-radius: 10px 10px 10px 10px;
}

.home3 h2 {
    font-size: 38px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    margin-bottom: 2rem;
    font-style: normal;
}

.home3_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #endregion home */
/* #region services */
.services {
    padding: 2rem 0;
    background-color: #526D82;


}

.services_wrap {

    color: white;
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.services h1 {
    font-size: 38px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 500;
    font-family: inherit;
    margin-bottom: 2rem;
    font-style: normal;
}

.service {

    border: 2px solid #9DB2BF;
    border-radius: 10px 10px 10px 10px;
    width: 550px;

}

.service p {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    font-style: normal;
    padding: 1rem;

}

.service h2 {
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 500;
    font-family: inherit;
    margin-bottom: 1rem;
    font-style: normal;
    margin-left: 1rem;
}

.services2 {
    padding: 3rem 0;
    margin: 0 auto;

    background-color: #c2d1dc;
}

.services_wrap2 {
    background-color: #526d8214;
    margin-top: 2rem;
    color: white;
    display: flex;
    gap: 3rem;
    align-items: center;

}

.services2 img {
    margin: 1rem;
    width: 500px;
    height: 500px;
}

.services_wrap2 h2 {
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 84px;
    color: white;
    font-weight: 500;
    font-family: inherit;
    margin: 1rem;
}

.services_wrap2 p {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: inherit;
    font-style: normal;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.serc_text {
    width: 50%;
}

.serv_img {
    width: 50%;
    min-height: 50rem;
    background-image: url(../img/srevice4.jpeg);
    background-size: cover;
}

/* #endregion services */
/* #region gallery */

.gal__wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #526D82;
}

.gal__item {
    width: calc(100% / 3);
    height: 20rem;

    border: 4px solid #526D82;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;

}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    background-color: #f0eeec;
    opacity: 0;
    transition: all 0.5s;
}

.over_img {
    width: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: all 0.5s;

}

.gal__item:hover .overlay {
    opacity: 0.5;
    transition: all 0.5s;
}

.gal__item:hover .over_img {
    opacity: 1;
    transition: all 0.5s;
}

/* #endregion gallery */
/* #region media */
@media (max-width: 1355px) {
    table {
        max-width: 100%;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 2rem;
    }

    .about_wrap p {
        width: 100%;
    }

    .contact {
        flex-direction: column;
        justify-content: center;
    }

    .contact_wrap {
        width: 100%;
    }

    .items {
        padding: 3rem 0;
    }

    .items_wrap {
        flex-wrap: wrap;
    }

    .item {
        width: 50%;
        margin-bottom: 3rem;
        justify-content: center;
    }

    .about_wrap {
        flex-wrap: wrap;
    }

}

@media (max-width: 1060px) {
    .contact_wrap {
        max-width: 100%;
    }

}

@media (max-width: 944px) {
    .about_wrap p {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .home_wrap2 p {
        max-width: 100%;
    }

    .services_wrap2 {
        display: flex;
        flex-direction: column;
    }


}

@media (max-width: 850px) {
    .contact form {
        width: 100%;
    }

    .input {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .menu_burger {
        display: block;

    }



    .menu_main {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: #27374D;
        right: 0;
        width: 30rem;
        padding: 2rem;
    }

    .menu {
        position: relative;
    }

    .menu_burger.active {
        display: none;

    }

    .menu_burger-closes {
        width: 3rem;
        display: none;
    }

    .menu_burger-closes.active {
        display: block;
    }

    .menu_main.show {
        display: flex;
        z-index: 111;

    }

    .menu_main li {
        text-align: center;
    }

    button {
        background-color: transparent;
        border: none;
    }

    .about2_wrap {
        display: flex;
        flex-direction: column;
    }

    .about2 img {
        width: 250px;
        height: 250px;
        padding: 2rem;
    }

    .contact form textarea {
        width: 200px;
        height: 200px;
    }

}

@media (max-width: 580px) {
    .about_wrap p {
        width: 275px;
    }

    .footer_wrap {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .gal__wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-position: center;
        align-items: center;


    }

    .about_wrap {
        width: 100%;
    }

    .gal__item {
        width: 250px;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        border: none;
        margin-top: 1rem;
    }

}

@media (max-width: 470px) {
    .footer_item {
        width: 100%;
        max-width: 100%;

    }

    .items_wrap {
        display: flex;
        flex-direction: column;
    }


}

@media (max-width: 330px) {
    .about_wrap p {
        width: 150px;
        text-align: left;
    }
}


/* #endregion media */